.up_container {
    background-color: rgba(217, 217, 217, 1);
    width: 95%;
    max-width: 100%;
    height: 20%;
    margin: 5px auto;
    border-radius: 10px;
}

.up_container .opacity_text {
    font-family: 'Hind', sans-serif;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.up_container p {
    text-align: center;
    font-family: 'Hind', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.answers {
    display: flex;
    flex-direction: column;
}

#btn {
    font-size: 1rem;
    font-family: 'Hind', sans-serif;
    color: black;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    border: none;
    background-color: rgba(22, 43, 61);
    box-shadow: 2px 2px 8px rgba(186, 186, 186, 0.3);
}

.under_container #btn:hover {
    background-color: #F9ECE4;
    cursor: pointer;
}

#score {
    font-style: italic;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Gemunu Libre', sans-serif;
    color: rgba(202, 217, 255, 1);
    margin: 50px auto -10px auto;
}

.under_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    max-width: 100%;
    margin: 50px;
    background-color: linear-gradient(#1A6DED, #CCD7BE, #51ED1A);
    padding: 20px;
    border-radius: 10px;
}

.hidden {
    display: none;
}
.visible {
    display: initial;
}